<launch>
 <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find dr_safety_driver)/maps/map.yaml"/>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
     <rosparam file="$(find dr_safety_driver)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
     <rosparam file="$(find dr_safety_driver)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
     <rosparam file="$(find dr_safety_driver)/config/local_costmap_params.yaml" command="load" />
     <rosparam file="$(find dr_safety_driver)/config/global_costmap_params.yaml" command="load" />
     <rosparam file="$(find dr_safety_driver)/config/base_local_planner_params.yaml" command="load"/>
     <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
     <param name="controller_frequency" value="10.0" />
   </node>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find deepracer_simulation)/urdf/racecar.xacro'" />

    <node type="ackermann_translator.py" name="ackermann_translator" pkg="dr_safety_driver" />

    <node type="dr_sim_driver.py" name="dr_sim_driver" pkg="dr_safety_driver" />

    <node name="drive_pid" pkg="pid" type="controller" ns="drive_pid">
      <param name="Kp" value="0.8" />
      <param name="Ki" value="0.1" />
      <param name="Kd" value="0.0" />
      <param name="rate" value="20" />
      <param name="upper_limit" value="1.0" />
      <param name="lower_limit" value="-1.0" />
      <param name="windup_limit" value="0.7" />
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dr_safety_driver)/rviz/dr_safety_driver.rviz" />
</launch>